extends layout

block content
  h1 Bojja
  p Welcome to Sneha
  
  button(type="button", class="btn btn-secondary", onclick="boost()") Press me
  div(id="boost") add in extra
  
  // Add the script block to define variables and the boost function
  script.
    let value = 0;
    let amt = 3;

    function boost() {
      amt += 1;
      value += amt;
      document.getElementById('boost').innerText = `Boosted ${value} by ${amt}`;
    }

  a(href="/fossils") View Fossils Search Results
